body{
    
   
}
body::after{
  background-image:url("./assets/images/Party.jpg"); 
  z-index:-1;
  opacity:0.8;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  content:"";
  }



/* Added to make cards closer together. */
.card{
    margin-bottom:5px;
    height: 160px;
  
}
/* Padding Added to cards to add some seperation between them. */
.cell{
    padding-right: 20px;
    padding-left:20px;
}

