body{
  background-image:url("./assets/images/WebsiteBG.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
  font-family: 'Baloo Bhai 2';
 }

/* ----------OPENING PAGE CONTAINER--------- */
/* Adding a transparent background color for the elements in top of it to pop out, and aligning them to center. */
#opening-page{
   background-color: rgba(0, 0, 0, 0.514);
   height:100vh;
   display: flex;
   align-items: center;
   justify-content: center;
 }

h5{
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    color:rgb(255, 255, 255);
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 3px black;
    margin-top: -75px;
    letter-spacing: 2px;
    font-size: auto;
 
 }
span{
 color: #ffd578;
 font-family: 'Bungee Inline';
 }

.logo{
    height: 70%;
    width: 70%;
    margin:auto;
    margin-top: -500px;
    margin-bottom: 5px;
 }
 
/* ----------- CONTAINER W/SEARCH INPUT AND BUTTON ----------- */
.searchBar{
  margin-right: 0;
  padding: 2px;
  border-color: #1f1f2d;
}

.submitBtn{
  padding: 10px;
  margin-left: 1px;
}

.submitBtn:disabled{
background-color: black;
}

.input-group-rounded .input-group-field {
  border-radius: 5000px 0 0 5000px;
  padding-left: 1rem;
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 5000px 5000px 0;
  font-size: 0.8rem;
}

.input-group{
  margin-top: 30px;
  margin-bottom: 0px;
}

.menu{
background: #333;
width: 30%;
}

/* Stick search bar to top og page when scrolled down. */
#searchContainer{
position:-webkit-sticky;
position:sticky;
top:0;
width:70%;
}
 

/* ---------- CARD CSS -----------*/
#card-page{
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.514);
  height:100vh,100%;
}

/* Added to make cards closer together. */
.card{
  margin-bottom:5px;
  height: 160px;
  border-radius: 20px;
  background-color: #1f1f2d44;
  color: #fbf0e3;
  border-color: #ffd578;
  border-style: double;
  border-width: 7px;
  position: relative;
}

.card-divider{
  background-color: #ffd578;
  color: #1f1f2d;  
  padding: 4px;
  margin-bottom: 0px;
}

.card-section {
  padding: 1px;
  position: absolute;
  top: 25%;
  left: 30%;
}
  /* removing margin from dynamic <p>*/
  p {
    padding: 1px;
    margin-bottom: 0px;
  }
.images {
  padding: 0px;
  width: 115px;
  height: 115px;
  display: block;
  margin-left: 0px;
  position: relative;
}


  /* Padding Added to cards to add some seperation between them. */
.cell{
    padding-right: 20px;
    padding-left:20px;
    margin-bottom: 5px;
}

  /* Scoping for dropdown options */
#dropdownfoodselect{
  float:left;
  width:30%;
  border-bottom-left-radius: 30px;
  margin-left:20%;
  background-color: #ffd578;
  border-color: #1f1f2d;
}
  #dropdownentertainselect{
  width:30%;
  border-bottom-right-radius: 30px;
  background-color: #ffd578;
  border-color: #1f1f2d;
  }
  
/*---------FOOTER---------*/
#footer{
  color: white;
  background-color: black;
  opacity: 75%;
  position: fixed;
  bottom: 0;
  width: 100%;
}




