body{
    
   
}
body::after{
  background-image:url("./assets/images/Party.jpg"); 
  z-index:-1;
  opacity:0.8;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  content:"";
  }

.top-bar{
    z-index:-1;
    opacity:0.35;
}
.searchBar{
    margin-right: 0;
    padding: 2px;
}
.submitBtn{
    padding: 10px;
    margin-left: 1px;
}
