body{
    
   
}
body::after{
  background-image:url("./assets/images/Party.jpg"); 
  z-index:-1;
  opacity:0.8;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  content:"";
  }



/* Added to make cards closer together. */
.card{
    margin-bottom:5px;
    height: 160px;
  
}
/* Padding Added to cards to add some seperation between them. */
.cell{
    padding-right: 20px;
    padding-left:20px;
}

.top-bar{
    z-index:-1;
    opacity:0.35;
}
.searchBar{
    margin-right: 0;
    padding: 2px;
}
.submitBtn{
    padding: 10px;
    margin-left: 1px;
}
.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }
  .input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
  }
  #startingBtn{
      float: center;
      margin: 200px;
  }
/* centered checkbox under search bar */
#checkBox{
    float: center;
    margin:50px;
    margin-right: 100px;
    text-align: center;
    
    
}
/* modify checkbox font and styling */
  .checkText {
      font-size: 30px;
      font-style: italic;
  }
/* change size of check boxes */
  input[type=checkbox] {
    transform: scale(2);
}

.menu{
  background: #333;
  

}
  
