
body{
  background-image:url("./assets/images/Party.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
}
/* Adding a transparent background color for the elements in top of it to pop out, and aligning them to center. */
  #opening-page{
   
  background-color: rgba(0, 0, 0, 0.308);
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }

  #card-page{
    background-image: url("./assets/images/Dining.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.308);
    height:100vh;
  }
 

  
/* Added to make cards closer together. */
.card{
    margin-bottom:5px;
    height: 160px;
  
  
}
/* Padding Added to cards to add some seperation between them. */
.cell{
    padding-right: 20px;
    padding-left:20px;
}

.searchBar{
    margin-right: 0;
    padding: 2px;
}
.submitBtn{
    padding: 10px;
    margin-left: 1px;
}
.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
   
  }
.input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
  }
/* #startingBtn{
  
  } */
/* centered checkbox under search bar */
.menu{
  background: #333;
  width: 30%;
  }
/* Stick search bar to top og page when scrolled down. */
#searchContainer{
position:-webkit-sticky;
position:sticky;
top:0;
width:70%;
}



#dropdownfood{
float:left;
margin-top: -16px;
margin-left:20%;
border-bottom-left-radius: 50px; 
}

#dropdownentertain{
  margin-top:-16px;
  border-bottom-right-radius: 50px;
  }

/* Added margin spacing to create seperate environment for card results. */
/* .grid-container{
  margin-top: 40%;
  margin-bottom: 100px;
} */
  
